.site-blog-post-comment-message {
    border: 1px solid #ccc;
	border-radius: 0px;
	color: #666;
}

.site-blog-post-comment {
	margin-bottom: 20px;
	margin-right: 20px;
}

.site-blog-post-comment-message {
    padding: 10px 0 10px 10px;
}

.feed-add-post-form-but-wrap {
	border-bottom: none;
}

.comments-area #errors {
	margin-bottom: 20px;
	color: #c40233;
}

.comment-form-comment {
	margin-top: 20px;
}

.site-blog-comment-submit-block {
	display: flex;

	align-items: flex-end;
	justify-content: space-between;
}

.site-blog-comment-captcha-word-label {
	margin-right: 10px;
}

@media (max-width: 768px) {
	.site-blog-comment-submit-block {
		flex-direction: column;
		align-items: flex-start;
	}

	.site-blog-comment-captcha-word-label,
	#captcha,
	.form-submit {
		margin: 7px 0;
	}
}